@keyframes jumpfont {
	0%{
		font-size: 150px;
	}
	50%{
		font-size: 100px;
	}
	100%{
		font-size: 150px;
	}
}
@keyframes JUMP {
	0%{
		color: rgb(0,0,0);
		font-size: 150px;
	}
	100%{
		color: rgb(0, 0, 0,0);
		font-size:1000px;
	}
}
#menu{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	font-size: 16px;
	background-color: rgb(0,0,0,0.5);
	display: none;
}
.popup{
	background-color: #fff;
	max-height: 500px;
	max-width: 400px;
	height: 300px;
	border-radius: 15px;/*圆角5px*/
	margin: 100px auto;/*上下边距*/
	text-align: center;
}
.bt{
	height: 60px;
	line-height: 60px;
	border-bottom: solid 3px #ccc;
}
.dm{
	line-height: 60px;
	margin-right: 10px;
	font-size: 25px;
	color: #555555
}
.bbt{
	padding-bottom: 10px;
}
#xr{
	all: unset;
	font-size: 20px;
	color: #778899;
	cursor: pointer;
	border-radius: 5px;
	margin: 20px;
	color: #ffffff;
	background-color: #0055ff;
}
#xr:hover{
	all: unset;
	font-size: 21px;
	color: #778899;
	cursor: pointer;
	border-radius: 3px;
	margin: 20px;
	color: #ff0000;
	background-color: #0055ff;
}
#title{
	font-size: 80px;
	color: aliceblue;
	text-align: center;
}
#title:hover{
	color: #ff0000;
	cursor: pointer;
}
button{
	left: 0;
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: inherit;
	border: none;//无边框
	background: rgb(255, 255, 255);
	cursor: grabbing;//悬停
}
.jump {
	text-align: center;
	font-family: '华文行楷';
	color: #000000;
	white-space: nowrap;
	animation: jumpfont 1s infinite;
}

.center {
	text-align: center;
}

a{
	text-decoration: none;
	font-family: "华文琥珀",cursive;
	font-weight: bold;
	font-size: 30px;
	color: #0055ff;
	user-select: none;//防止没事复制
}
a:hover{
	color: #ff0000;
	font-size: 31px;
}
body{
	background: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
}
#ikun{
	position: fixed;/*固定位置*/
	top: 0;
	left: 0;
	z-index: 0;/*总之不能顶层*/
	pointer-events: none;/*可以透过画布直接点*/
}
#link{
	font-family: "华文琥珀";
	font-size: 30px;
	color: #0055ff;
	user-select: none;//防止没事复制
}
#nextpage{
	font-family: "华文琥珀";
	font-size: 80px;
	color: #0055ff;
	user-select: none;
}
