.center{
	text-align: center;
}
a{
	text-decoration: none;
	font-family: "华文琥珀";
	font-size: 80px;
	color: #0055ff;
	user-select: none;//防止没事复制
}
body{
	background: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-position: center;
}
canvas{
	position: fixed;/*固定位置*/
	top: 0;
	left: 0;
	z-index: 0;/*总之不能顶层*/
	pointer-events: none;/*可以透过画布直接点*/
}
#nextpage{
	font-family: "华文琥珀";
	font-size: 120px;
	color: #0055ff;
	user-select: none;
}